[user]
name="Michael White"
email="michael.p.m.white@gmail.com"

[alias]
st = status
df = diff
ds = diff --staged
dfn = diff --name-only
lg1 = log --patch-with-stat -n 1
lg = log --graph --oneline
co = checkout
ci = commit
rh = reset --hard
[core]
        editor = emacsclient -c -a ''
        pager = delta
#[credential]
#helper = cache
[merge]
        conflictstyle = diff3

[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true
        syntax-theme = Dracula
        side-by-side = true
[merge]
        conflictstyle = diff3
[diff]
        colorMoved = default
